.sheptErrorMessage {
	font-size: small;
	color: red;
	margin-bottom: 1em;
}

.sheptErrorMessage p {
	display: inline;
	margin-left: 1em;
	vertical-align: top;
}

.sheptWarning {
	background-color: #FFF79F;
	color: #5d6091;
	font-weight: bold;
}

.sheptFieldError {
	background-color: #FFE0E0;
	border: 1px solid #e35e3d;
}

.sheptFieldBlur {
	color: lightgray;
}

.sheptInvisible {
	display: none;
}

.sheptRequired {
	padding-left: 5px;
	color: #e35e3d;
	font-size: smaller;
	font-weight: bold;
}

.sheptDisabled {
	text-decoration: line-through;
}

.sheptInactive {
	text-decoration: line-through;
}
	
